<div class="container">
  <div class="row">
    <h1>Servers component</h1>
    <!-- <h3>{{ getBottonStatue() }}</h3> -->
  </div>
  <div class="col-5">
    <button
      class="btn btn-primary"
      [disabled]="!bottonStatue"
      (click)="onCreateBotton()"
    >
      {{ bottonCreation }}
    </button>
    <input type="text" class="form-control" (input)="onBottonText($event)" />
    <p [ngStyle]="{ backgroundColor: colorM() }">hello {{ bottonText }}</p>
  </div>

  <p [ngStyle]="{ backgroundColor: colorM() }">hello {{ bottonText }}</p>
</div>
