<div class="col">
  <form>
    <div class="row">
      <div class="col-sm-5">
        <label for="name">name</label>
        <input
          type="text"
          class="col-4 form-control"
          id="name"
          placeholder="Enter name"
        />

        <div class="col form-group">
          <label for="amount">amount</label>
          <input
            type="number"
            class="col form-control"
            id="amount"
            placeholder="enter amount"
          />
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12">
        <button type="submit" class="btn btn-success">add</button>
        <button type="submit" class="btn btn-danger">delete</button>
        <button type="submit" class="btn btn-primary">clear</button>
      </div>
    </div>
  </form>
</div>
